[submodule "Core"]
	path = Core
	url = git@github.com:Dairy-Foundation/Core.git
[submodule "Calcified"]
	path = Calcified
	url = git@github.com:Dairy-Foundation/Calcified.git
[submodule "Util"]
	path = Util
	url = git@github.com:Dairy-Foundation/Util.git
[submodule "Sinister"]
	path = Sinister
	url = git@github.com:Dairy-Foundation/Sinister.git
[submodule "Pasteurized"]
	path = Pasteurized
	url = git@github.com:Dairy-Foundation/Pasteurized.git
[submodule "Mercurial"]
	path = Mercurial
	url = git@github.com:Dairy-Foundation/Mercurial.git
[submodule "Curdled"]
	path = Curdled
	url = git@github.com:Dairy-Foundation/Curdled.git

